// ========================================================

// # OBJECT

.section {
	position: relative;
}

.section__inner {
	background-color: $color-bg-body;
    padding: $gutter*10 $gutter/2;
    margin-left: auto;
    margin-right: auto;
    max-width: 90.3125rem;
    position: relative;
    overflow: hidden;
}
