// ========================================================

// # FONTS

// # PROXIMA NOVA
// regular
@font-face {
    font-family: 'proxima_nova';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'proxima_nova';
    src: url('../assets/fonts/mark-simonson-proxima-nova-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark-simonson-proxima-nova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


// # VELINO DISPLAY
// blackblack
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-black-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

// black_itaBlkIt
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-blackitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-blackitalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

// boldbold
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// bold_italiBdIt
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

// book
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// book_italic
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-bookitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// lightlight
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

// light_italLtIt
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-lightitalic-webfont.woff') format('woff');
    font-weight: light;
    font-style: italic;
}

// mediummedium
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// medium_itaMdIt
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-mediumitalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

// thinthin
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-thin-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

// thin_italiThIt
@font-face {
    font-family: 'velino_display';
    src: url('../assets/fonts/velinodisplay-thinitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinodisplay-thinitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}


// # VELINO TEXT
// blackblack
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-black-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

// black_italicBlkIt
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-blackitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-blackitalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

// boldbold
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// italicBdIt
@font-face {
    font-family: 'velino_text_bold';
    src: url('../assets/fonts/velinotext-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

// book
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// book_italic
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-bookitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// lightlight
@font-face {
    font-family: 'velino_text';
    src: url('../assets/fonts/velinotext-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/velinotext-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}


$font-primary: 'proxima_nova';
$font-secondary: 'velino_display';