// ========================================================

// # GLOBAL-SETTINGS


$text-size: 16; // Global font-size 16px

$gutter: 0.9375rem; // Global margins 15px

// Animation
$time-fast: .2s; $time: .4s; $time-slow: .6s;
