
,// ========================================================
// HTML and Body
// ========================================================
html,
button,
datalist,
input,
select,
textarea {
    color: $color-text;
}

html {
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.375;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-family: $font-primary;
    font-size: globalPerc($text-size);

    &:after {
        content: "0em";
        display: block;
        height: 0;
        position: absolute;
        overflow: hidden;
        width: 0;
    }
}


// ========================================================
// Headers
// ========================================================
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    font-weight: bold;
    margin: 0 0 ($gutter/2) 0;
    text-transform: uppercase;
}

h1 {
    font-family: $font-primary;
    font-size: 4em;
    line-height: 1;
}

h2 {
    font-size: 2em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.1;
}

h4 {
    font-size: 1.25em;
    line-height: 1.1;
}

h5 {
    font-size: 1.1em;
    line-height: 1.1;
}

h6 {
    font-size: 1em;
    line-height: 1.1;
}



// ========================================================
// Default spacings
// ========================================================
h2,
h3,
p,
blockquote,
img,
table,
form,
fieldset,
pre {
    &:first-child {
        margin-top: 0;
    }
}

h2 + p,
h3 + p,
h2 + ol,
h3 + ol,
h2 + ul,
h3 + ul {
    margin-top: 0;
}

p,
ol,
ul,
blockquote,
img,
table,
form,
fieldset,
pre,
object,
embed,
video,
audio,
figure,
figcaption,
.paragraph,
h3 {
    margin-top: $gutter;
}

p,
ol,
ul,
blockquote,
img,
table,
form,
fieldset,
pre,
object,
embed,
video,
audio,
figure,
figcaption,
.paragraph {
    margin-bottom: $gutter;
}

ol,
ul {
    padding-left: $gutter*2;
}

li {
    margin-bottom: $gutter/2;
    margin-top: $gutter/2;
}

datalist,
input,
select,
textarea {
    padding: $gutter/2 $gutter;
    background-color: transparent;
    color: inherit;

    &:focus,
    &:active {
        color: inherit;
    }
}



// ========================================================
// Links and buttons
// ========================================================
a {
    text-decoration: underline;
    color: $color-text;

    &:focus,
    &:hover,
    &:active {
        background-color: #000;
        color: #fff;
        text-shadow: none;
        text-decoration: none;
    }
}

button {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    &:focus,
    &:hover,
    &:active {
        background-color: #000;
        color: darken(#fff, 10%);
    }
}
