// ========================================================
// # MENU

.menu {
    margin: 0;
    position: absolute;
    left: 0;
    top: $gutter;
    width: 100%;
    z-index: 10;
}

    .menu .section__inner {
        background-color: transparent;
        padding: 0; 
    }

    .menu a {
        text-decoration: none;
    }

.menu__logo {
    margin-left: auto;
    margin-right: auto;
}

.menu__toggle {
    position: absolute;
    top: $gutter;
    right: $gutter;
}

.menu__nav {
    display: none;
}

.menu__toggle__target {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;

    &:checked {
        ~ .menu__nav {
            display: block;
        }
    }
}


@include respond-min-width(46em) {
    .menu__nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

        .menu__nav li {
            display: inline-block;
        }

    .menu__toggle {
        display: none;
    }
}