// ========================================================

// # Section duo
.section-duo h1 {
	font-size: 10px;
	opacity: .7;
	z-index: 1;
	font-weight: normal;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 500px;
	line-height: 1.375;
	letter-spacing: 4px;
	transform: translate(-50%, -50%);
}

	.section-duo h1 span {
		font-family: $font-secondary;
		font-weight: bold;
		font-size: 2.5em;
		display: block;
		text-align: center;
	}

.section-duo__img--right {
	display: none;
}

@include respond-min-width(40em) {
	.section-duo h1 {
		font-size: 19px;
    	letter-spacing: 4px;
	}
}


@include respond-min-width(60em) {
	.section-duo .section__inner {
		height: 100vh;
	}

	img[class^='section-duo__img'] {
		position: absolute;		
		margin: 0;
		max-width: 90%;
	}

	.section-duo__img--left {
		top: 0;
		left: 0;
	}

	.section-duo__img--right {
		display: block;
		top: 0;
		right: $gutter;
	}
}