// ========================================================

// # SOCIAL-SHARE

.social-share {
    text-align: right;
}

    .social-share > li {
        margin-left: $gutter;
        width: 25px;
    }


.social-share__link {
    text-decoration: none;
}

.social-share__icon {
    fill: red;
    transition: fill $time-fast ease-in-out;

    &:hover,
    &:focus,
    &:active {
        fill: black;
    }
}
