// ========================================================

// # Section hero
.section-hero .section__inner {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.section-hero h1 {
	letter-spacing: .5em;
	line-height: 1;
	font-size: 20px;
}

	.section-hero h1 span {
		font-size: 4em;
		letter-spacing: 0;
	}

@include respond-min-width(40em) {
	.section-hero .section__inner {
		height: 100vh;
	}
}

@include respond-min-width(60em) {
	.section-hero h1 {
		font-size: 40px;
	}
	
	.section-hero .section-duo__img {
		position: absolute;		
		margin: 0;
		max-width: 90%;
	}

	.section-hero .section-duo__img--left {
		top: -$gutter*5;
		left: 0;
	}

	.section-hero .section-duo__img--right {
		top: -$gutter*12;
		right: -$gutter*5;
	}
}