// ========================================================

// # Selection row
.selection-row * {
	position: relative;
}

	.selection-row .section__inner:before {
		font-family: $font-secondary;
		font-weight: bolder;
		content: attr(data-bg-title);
		position: absolute;
		left: 50%;
		top: $gutter*10;
		transform: translateX(-50%);
		font-size: 100px;
		width: 100%;
		text-align: center;
		opacity: 0.1;
		text-transform: uppercase;
	}

	.selection-row h1 {
		text-align: center;
		font-size: 22px;
		font-weight: normal;
		letter-spacing: 3px;
		margin: 0 0 $gutter*7;
	}

	.selection-row .list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

		.selection-row .list li {
			width: 50%;
			max-width: 50%;
		}

			.selection-row .list li img {
				margin-left: auto;
				margin-right: auto;
				height: 441px;
			}

@include respond-min-width(40em) {
	.selection-row .section__inner:before {
		font-size: 170px;
	}

	.selection-row .list {
		justify-content: space-around;
	}

		.selection-row .list li {
			width: 33.333%;
			max-width: 33.333%;
			height: auto;
		}
}

@include respond-min-width(60em) {
	.selection-row .list li {
		width: 20%;
		max-width: 20%;
	}

		.selection-row .list li img {
			min-height: 576px;
		}
}